body {
  background: #121212;
  color: #333333;
  margin-top: 5rem;
  font-family: 'DM Sans', sans-serif;
}

/*
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
*/

ul {
  margin: 0;
}

.bg-steel {
  background-color: #232323;
}

a.bg-steel:hover {
  /*background-color: #454545;*/
    opacity: 0.9;
}

.navbar-brand {
    font-family: "Expletus Sans", cursive;
    font-size: 2.5em;
    color: rgb(241, 196, 15) !important;
}

a.navbar-brand:hover {
    opacity: 1;
    color: rgb(241, 196, 15) !important;
    text-shadow: 1px 1px rgb(250, 170, 0);
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    margin-top: 7px;
    font-size: 1.2em;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #454545;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70% !important;
}

.article-title {
  color: #428bca;
}

a.article-title:hover {
  color: #428bff;
  text-decoration: none;
}

.article-content {
    margin-top: 20px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
    font-size: 1.1em;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(241, 196, 15);
}

.article-metadata a:hover {
  color: #428bff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


#polygon-container svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

.t {
    overflow: inherit;
    font-size: 0.05em;
    fill: #454545;
    font-family: "Expletus Sans", cursive;
}
