{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'hex_grid/grid.css' %}">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<div class="container">
    <div class="honeycomb">
      {% for i in total_columns %}
        <div class="hexes-{{ i }} column">
            {% if i|divisibleby:"2" %}
                {% for _ in hexes_in_even %}
                <a class="hex">
                    <div class="wrapper">
                        <div class="hexagon color-1"></div>
                    </div>
                    <span class="content">
                        <strong>Hello!</strong>
                        <small>i'm a hexagon</small>
                    </span>
                </a>
                {% endfor %}
            {% else %}
                {% for _ in hexes_in_odd %}
                <a class="hex">
                    <div class="wrapper">
                        <div class="hexagon color-1"></div>
                    </div>
                    <span class="content">
                        <strong>Hello!</strong>
                        <small>i'm a hexagon</small>
                    </span>
                </a>
                {% endfor %}
            {% endif %}
        </div>
      {% endfor %}

    </div>
<span class="info-block">
     <strong>Information</strong>
     <small>Hello there</small>
</span>
</div>
<script>
    var hexagon = $(".hex");

    $(hexagon).hover(
         function(){
              $(".info-block").addClass("info-content");
              $(".info-block").css("top", $(this).position().top);
              // console.log("hexagon-in");
         },
         function(){
              $(".info-block").removeClass("info-content");
              // console.log("hexagon-out");
    });

</script>